@charset "UTF-8";
@font-face {
  font-display: swap;
  font-family: "sf pro display";
  src: url("../fonts/sf-pro-display_regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "sf pro display";
  src: url("../fonts/sf-pro-display_semibold.woff2 ") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "sf pro icons";
  src: url("../fonts/sf-pro-icons_regular.woff2 ") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "sf pro icons";
  src: url("../fonts/sf-pro-icons_semibold.woff2 ") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "sf pro text";
  src: url("../fonts/sf-pro-text_regular.woff2 ") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "sf pro text";
  src: url("../fonts/sf-pro-text_semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

html {
  font-size: 17px;
  -webkit-transition: font-size 0.3s;
  transition: font-size 0.3s;
}

body {
  min-width: 320px;
  line-height: 1.4705882353;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: "sf pro text";
  background-color: rgb(0, 0, 0);
  color: rgb(245, 245, 247);
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  -webkit-tap-highlight-color: transparent;
  /* 모바일에서 요소를 터치할 때 나타나는 하이라이트 효과를 제거 */
  -webkit-text-size-adjust: 100%;
  /* iOS에서 텍스트 크기의 자동 조정을 막고 원래 크기로 유지 */
  -moz-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
       text-size-adjust: 100%;
  /* 모든 브라우저에서 텍스트 크기의 자동 조정을 막고 원래 크기로 유지 */
  cursor: default;
  /* 기본 커서 스타일을 적용 */
  line-height: 1.5;
  /* 기본 줄 간격을 1.5로 설정해 가독성 향상 */
  overflow-wrap: break-word;
  /* 긴 단어나 URL이 요소의 너비를 넘을 경우 자동 줄바꿈을 적용 */
  -moz-tab-size: 4;
  /* Firefox에서 탭 문자의 너비를 4칸으로 설정 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 모든 브라우저에서 탭 문자의 너비를 4칸으로 설정 */
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,
ol,
li {
  list-style: none;
}

fieldset,
input {
  border: 0;
  background: transparent;
  outline: 0;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  outline: none;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
}

body {
  -webkit-transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

body.dimmed {
  overflow: hidden;
  opacity: 1;
}

body.dimmed::after {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 1;
  content: "";
}

.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
}

.header {
  width: 100%;
}
.header .gnb {
  max-width: 1024px;
  padding: 0 22px;
  margin: 0 auto;
}
.header .gnb-item {
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
  font-size: 0.67rem;
  letter-spacing: -0.01em;
  line-height: 1;
}
.header .gnb-item a {
  padding: 0 8px;
}
.header .gnb-item:hover {
  color: #FFFFFF;
}
.header .gnb-item svg {
  fill: currentColor;
}
.header .gnb-list {
  width: auto;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .lnb {
  width: 100%;
}
.header .lnb .title {
  color: #fff;
  font-size: 21px;
  line-height: 1.1428571429;
  font-weight: 600;
  letter-spacing: 0.011em;
}
.header .lnb .group-lnb {
  max-width: 980px;
  margin: 0 auto;
  padding: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .lnb-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}/*# sourceMappingURL=style.css.map */