@charset "UTF-8";
:root {
  --global-section-background-color-alt: rgb(245,245,247);
  --global-section-background-color-alt-dark: rgb(29,29,31);
  --global-section-padding: 160px;
  --global-section-aap-padding: 216px ;
}

@media (max-width: 1068px) {
  :root {
    --global-section-padding:128px ;
  }
}
@media (max-width: 734px) {
  :root {
    --global-section-padding:96px ;
  }
}
@media (max-width: 1068px) {
  :root {
    --global-section-aap-padding:206px ;
  }
}
@media (max-width: 734px) {
  :root {
    --global-section-aap-padding:196px ;
  }
}
@font-face {
  font-family: "SF-Pro-Display";
  src: url("../fonts/sf-pro-display_regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF-Pro-Display";
  src: url("../fonts/sf-pro-display_semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "SF-Pro-Text";
  src: url("../fonts/sf-pro-text_regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SF-Pro-Text";
  src: url("../fonts/sf-pro-text_semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

html {
  font-size: 17px;
  -webkit-transition: font-size 0.3s;
  transition: font-size 0.3s;
}

body {
  min-width: 320px;
  font-weight: 400;
  font-family: "SF-Pro-Display", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  background-color: rgb(0, 0, 0);
  color: rgb(245, 245, 247);
}

*,
:after,
:before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  -webkit-tap-highlight-color: transparent;
  /* 모바일에서 요소를 터치할 때 나타나는 하이라이트 효과를 제거 */
  -webkit-text-size-adjust: 100%;
  /* iOS에서 텍스트 크기의 자동 조정을 막고 원래 크기로 유지 */
  -moz-text-size-adjust: 100%;
   -ms-text-size-adjust: 100%;
       text-size-adjust: 100%;
  /* 모든 브라우저에서 텍스트 크기의 자동 조정을 막고 원래 크기로 유지 */
  cursor: default;
  /* 기본 커서 스타일을 적용 */
  line-height: 1.5;
  /* 기본 줄 간격을 1.5로 설정해 가독성 향상 */
  overflow-wrap: break-word;
  /* 긴 단어나 URL이 요소의 너비를 넘을 경우 자동 줄바꿈을 적용 */
  -moz-tab-size: 4;
  /* Firefox에서 탭 문자의 너비를 4칸으로 설정 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 모든 브라우저에서 탭 문자의 너비를 4칸으로 설정 */
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,
ol,
li {
  list-style: none;
}

fieldset,
input {
  border: 0;
  background: transparent;
  outline: 0;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  outline: none;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
}

body {
  -webkit-transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: opacity 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

body.dimmed {
  overflow: hidden;
  opacity: 1;
}

body.dimmed::after {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  opacity: 1;
  content: "";
}

.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #0071e3;
  color: rgb(255, 255, 255);
  border-radius: 980px;
  padding: 0 13px;
  min-width: 23px;
  height: 24px;
  font-size: 0.65rem;
}
.btn:hover {
  background: #006EDB;
}

.btn-arrow {
  width: 16px;
  height: 9px;
}

.header {
  width: 100%;
}
.header .gnb {
  max-width: 1024px;
  padding: 0 22px;
  margin: 0 auto;
}
@media (max-width: 833px) {
  .header .gnb {
    padding: 0 16px;
  }
}
.header .gnb-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: auto;
  height: 44px;
  font-size: 0.67rem;
  letter-spacing: -0.01em;
}
@media (max-width: 833px) {
  .header .gnb-list {
    font-size: 19px;
    height: 48px;
    gap: 30px;
  }
}
.header .gnb-item, .header .gnb-icon {
  color: rgba(255, 255, 255, 0.8);
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}
.header .gnb-item:hover, .header .gnb-icon:hover {
  color: #FFFFFF;
}
.header .gnb-icon.sub {
  display: none;
}
.header .gnb-icon svg {
  fill: currentColor;
}
@media (max-width: 833px) {
  .header .gnb-item {
    display: none;
  }
  .header .gnb-icon svg {
    width: 17px;
  }
  .header .gnb-icon.logo {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  .header .gnb-icon.logo svg {
    width: 15px;
  }
  .header .gnb-icon.sub {
    margin-top: 2px;
    display: block;
  }
}
.header .lnb {
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 52px;
  -webkit-backdrop-filter: saturate(180%) blur(20px);
          backdrop-filter: saturate(180%) blur(20px);
  background-color: rgba(22, 22, 23, 0.8);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
}
.header .lnb.scroll {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  height: 48px;
}
.header .lnb::after {
  content: "";
  position: absolute;
  top: 100%;
  width: 100%;
  height: 1px;
  z-index: 1;
  background: rgba(255, 255, 255, 0.24);
}
.header .lnb .title {
  color: #fff;
  opacity: 0.92;
  font-size: 21px;
  line-height: 1.1428571429;
  font-weight: 600;
  letter-spacing: 0.011em;
}
@media (max-width: 833px) {
  .header .lnb .title {
    font-size: 19px;
  }
}
.header .lnb .group-lnb {
  max-width: 1024px;
  height: 100%;
  padding: 0 22px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 833px) {
  .header .lnb .group-lnb {
    padding: 0 16px;
  }
}
.header .lnb .group-lnb .lnb-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}
@media (max-width: 833px) {
  .header .lnb .group-lnb .lnb-area {
    gap: 16px;
  }
}
.header .lnb .group-lnb .lnb-area .btn-arrow {
  display: none;
}
@media (max-width: 833px) {
  .header .lnb .group-lnb .lnb-area .btn-arrow {
    display: block;
  }
}
.header .lnb-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 24px;
}
@media (max-width: 833px) {
  .header .lnb-list {
    display: none;
  }
}
.header .lnb-item {
  position: relative;
  color: #fff;
  letter-spacing: 0.05em;
  font-size: 0.65rem;
  opacity: 0.7;
}
.header .lnb-item:hover {
  opacity: 1;
}
.header .lnb-item.active {
  opacity: 1;
}
.header .lnb-item.active ::after {
  content: "";
  position: absolute;
  top: 200%;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #fff;
  opacity: 0.8;
}
.header .lnb .btn-arrow svg {
  -webkit-animation: animateLine 0.32s ease-in-out forwards;
          animation: animateLine 0.32s ease-in-out forwards;
}
@-webkit-keyframes animateLine {
  0% {
    points: 15.265 0.835 8 8.167 0.735 0.835;
  }
  50% {
    points: 15.25 4.5 8 4.5 0.75 4.5;
  }
  100% {
    points: 15.265 8.165 8 0.835 0.735 8.165;
  }
}
@keyframes animateLine {
  0% {
    points: 15.265 0.835 8 8.167 0.735 0.835;
  }
  50% {
    points: 15.25 4.5 8 4.5 0.75 4.5;
  }
  100% {
    points: 15.265 8.165 8 0.835 0.735 8.165;
  }
}

.footer {
  background: rgb(29, 29, 31);
}
.footer .nowrap {
  white-space: nowrap;
}
.footer .footer-inner {
  margin: 0 auto;
  max-width: 980px;
  padding: 0 22px;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1.3333733333;
  font-size: 12px;
}
@media (max-width: 833px) {
  .footer .footer-inner {
    padding: 0 16px;
  }
}
.footer .group-note {
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);
  padding: 17px 0 27px;
}
.footer .group-note .bold {
  color: rgba(255, 255, 255, 0.8);
}
.footer .group-note .note-head {
  padding-bottom: 0.8em;
}
.footer .group-note .note-list {
  list-style: decimal;
  list-style-position: outside;
  padding: 0 17px;
}
.footer .group-note .note-list li {
  list-style: inherit;
  padding-bottom: 0.8em;
}
.footer .group-note .note-list li a {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: underline;
}
.footer .group-note .note-list li p + p {
  padding-top: 0.8em;
}
.footer .group-menu .nav-breadcrumbs {
  margin: 17px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 11px;
}
@media (max-width: 833px) {
  .footer .group-menu .nav-breadcrumbs {
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
    padding-bottom: 18px;
    margin-bottom: 0;
  }
}
.footer .group-menu .nav-breadcrumbs .link-breadcrumbs-logo {
  background-color: rgba(255, 255, 255, 0.92);
  width: 14px;
  height: 18px;
  -webkit-mask-image: url(../images/icons/icon.svg);
          mask-image: url(../images/icons/icon.svg);
}
.footer .group-menu .nav-breadcrumbs .breadcrumbs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 11px;
}
.footer .group-menu .nav-breadcrumbs .breadcrumbs-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 11px;
}
.footer .group-menu .nav-breadcrumbs .breadcrumbs-item::before {
  content: "";
  margin-top: 2px;
  width: 6px;
  height: 11px;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-mask-image: url(../images/icons/icon_arrow.svg);
          mask-image: url(../images/icons/icon_arrow.svg);
}
.footer .group-menu .nav-directory {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 833px) {
  .footer .group-menu .nav-directory {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer .group-menu .nav-directory .directory-area {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
@media (max-width: 833px) {
  .footer .group-menu .nav-directory .directory-area {
    width: 100%;
    gap: 0;
  }
}
.footer .group-menu .nav-directory .directory-area .title {
  color: rgba(255, 255, 255, 0.92);
  font-weight: 600;
  margin-bottom: 10px;
  display: block;
}
@media (max-width: 833px) {
  .footer .group-menu .nav-directory .directory-area .title {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 0;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
  }
  .footer .group-menu .nav-directory .directory-area .title::after {
    content: "";
    width: 6px;
    height: 11px;
    margin-right: 7px;
    background-color: rgba(255, 255, 255, 0.92);
    -webkit-mask-image: url(../images/icons/icon_arrow.svg);
            mask-image: url(../images/icons/icon_arrow.svg);
    rotate: 90deg;
    -webkit-transition: rotate 0.3s;
    transition: rotate 0.3s;
  }
}
@media (max-width: 833px) {
  .footer .group-menu .nav-directory .directory-area .directory-box.active .title {
    border-color: transparent;
  }
  .footer .group-menu .nav-directory .directory-area .directory-box.active .title::after {
    rotate: -90deg;
  }
  .footer .group-menu .nav-directory .directory-area .directory-box.active .directory-list {
    display: block;
  }
}
@media (max-width: 833px) {
  .footer .group-menu .nav-directory .directory-area .directory-list {
    display: none;
    width: 100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.24);
    position: relative;
    padding: 10px 0 25px;
  }
  .footer .group-menu .nav-directory .directory-area .directory-list::after {
    content: "";
    position: absolute;
    bottom: 0;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.24);
  }
}
@media (max-width: 833px) {
  .footer .group-menu .nav-directory .directory-area .directory-list .directory-item a {
    color: rgba(255, 255, 255, 0.8);
    padding: 10px 14px;
  }
}
.footer .group-menu .nav-directory .directory-area .directory-list .directory-item + .directory-item {
  margin-top: 10px;
}
.footer .group-menu .nav-directory .directory-area .directory-list .directory-item:hover a {
  text-decoration: underline;
}
.footer .group-copy {
  padding: 22px 0 11px;
}
@media (max-width: 833px) {
  .footer .group-copy {
    padding: 17px 9px;
  }
}
.footer .group-copy .shop-area {
  border-bottom: 1px solid rgba(255, 255, 255, 0.24);
  margin-bottom: 16px;
  padding-bottom: 19px;
}
@media (max-width: 833px) {
  .footer .group-copy .shop-area {
    border: 0;
    margin-bottom: 8px;
    padding-bottom: 8px;
  }
}
.footer .group-copy .shop-area a {
  color: rgb(41, 151, 255);
  text-decoration: underline;
}
.footer .group-copy .info-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 833px) {
  .footer .group-copy .info-area {
    gap: 12px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer .group-copy .info-area a {
  color: rgba(255, 255, 255, 0.8);
}
.footer .group-copy .info-area a:hover {
  text-decoration: underline;
}
.footer .group-copy .info-area .copy-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
@media (max-width: 833px) {
  .footer .group-copy .info-area .copy-wrap {
    gap: 9px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer .group-copy .info-area .copy-wrap .info-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 9px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.footer .group-copy .info-area .copy-wrap .info-list .info-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
}
.footer .group-copy .info-area .copy-wrap .info-list .info-item::after {
  content: "";
  height: 10px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.4);
}
.footer .group-copy .info-area .copy-wrap .info-list .info-item:last-child::after {
  content: none;
}

.sc-intro .group-intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding-top: 189px;
  padding-bottom: var(--global-section-padding);
}
.sc-intro .group-intro .headline {
  font-size: 28px;
  line-height: 1.1428571429;
  font-weight: 600;
  letter-spacing: 0.007em;
}
.sc-intro .group-intro .img-headline {
  height: 54px;
  margin-bottom: 86px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sc-intro .group-intro .media-area {
  position: absolute;
  top: 0;
  z-index: -1;
}
.sc-intro .group-intro .price-area {
  margin-top: 279px;
}

.sc-explore {
  padding-top: var(--global-section-padding);
  background: #161617;
  padding-bottom: var(--global-section-padding);
}
.sc-explore .headline {
  font-size: 56px;
  line-height: 1.0714285714;
  font-weight: 600;
  letter-spacing: -0.005em;
  margin-bottom: 53px;
  color: rgb(245, 245, 247);
}
@media (max-width: 1068px) {
  .sc-explore .headline {
    font-size: 48px;
    margin-bottom: 38px;
  }
}
@media (max-width: 734px) {
  .sc-explore .headline {
    font-size: 32px;
    margin-bottom: 34px;
  }
}
@media (max-width: 480px) {
  .sc-explore .headline {
    font-size: 28px;
  }
}
.sc-explore .group-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1068px) {
  .sc-explore .group-nav {
    display: grid;
    gap: 30px;
  }
}
@media (max-width: 734px) {
  .sc-explore .group-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.sc-explore .title {
  color: #86868b;
  margin-bottom: 15px;
  font-size: 17px;
  line-height: 1.2353641176;
  font-weight: 400;
  letter-spacing: -0.022em;
  font-family: "SF-Pro-Text";
}
@media (max-width: 734px) {
  .sc-explore .title {
    font-size: 14px;
  }
}
.sc-explore .nav-explore {
  margin-right: 88px;
}
@media (max-width: 1068px) {
  .sc-explore .nav-explore {
    grid-column: 1/3;
  }
}
.sc-explore .nav-explore .nav-list .nav-item {
  font-size: 28px;
}
@media (max-width: 734px) {
  .sc-explore .nav-explore .nav-list .nav-item {
    font-size: 21px;
  }
}
.sc-explore .nav-explore .nav-list .nav-item.small {
  font-size: 17px;
  margin-top: 30px;
}
@media (max-width: 1068px) {
  .sc-explore .nav-explore .nav-list .nav-item.small {
    margin-top: 22px;
  }
}
@media (max-width: 734px) {
  .sc-explore .nav-explore .nav-list .nav-item.small {
    font-size: 14px;
    margin-top: 19px;
  }
}
.sc-explore .nav-explore .nav-list .nav-item.small:last-of-type {
  margin-top: 0;
}
.sc-explore .nav-shop {
  margin-right: 44px;
}
.sc-explore .nav-list .nav-item {
  margin-bottom: 14px;
  font-size: 17px;
  line-height: 1.2353641176;
  font-weight: 600;
  letter-spacing: -0.022em;
  font-family: "SF-Pro-Text";
}
@media (max-width: 734px) {
  .sc-explore .nav-list .nav-item {
    font-size: 14px;
    margin-bottom: 8px;
  }
}

.viewport-content {
  margin: 0 auto;
  -webkit-margin-start: auto;
          margin-inline-start: auto;
  -webkit-margin-end: auto;
          margin-inline-end: auto;
  width: 87.5%;
  max-width: 1680px;
}/*# sourceMappingURL=style.css.map */