// common의 용도
.blind {
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	margin: -1px;
}

::selection {
	// background-color: $color-primary;
	// color: $color-white;
}

body{
	transition: opacity .6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
body.dimmed{
	overflow: hidden;
	opacity: 1;
}
body.dimmed::after {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0, 0, 0, .8);
	opacity: 1;
	content: '';
}

.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
}

.sc-titanium,
.sc-camera {
  .viewport-content .typography-area {
    display: flex;
    margin: 15vh 15vw;
    gap: 15vw;

    @include resD {
      margin: 15vh 6vw;
    }

    @include resT {
      margin: 7.41vh 4.8vw;
      gap: 11vw;
    }

    @include resM {
      margin: 7vh 8vw;
      flex-direction: column;
      gap: 8vw;
    }

    .typography {
      flex: 1;
    }
  }

  .swiper-area {
    position: relative;
    padding-bottom: 90px;

    @include resT {
      padding-bottom: 70px;
    }

    @include resM {
      padding-bottom: 60px;
    }

    .swiper {
      .swiper-wrapper {
        margin-left: -25%;

        @include resT {
          margin-left: -15%;
        }

        .swiper-slide {
          width: 550px;

          @include resD {
            width: 520px;
          }

          @include resT {
            width: 462px;
          }

          @include resM {
            width: 295px;
          }

          figure {
            .thumb {
              width: 100%;
              aspect-ratio: 1/1;
              border-radius: 18px;
              overflow: hidden;
            }

            figcaption {
              font-size: 17px;
              line-height: 1.4705882353;
              font-weight: 600;
              letter-spacing: -0.022em;
              padding: 32px 5px 20px 34px;
              width: 70%;
              color: #86868b;

              strong {
                color: #fff;
              }

              @include resM {
                width: 80%;
                font-size: 14px;
                padding: 20px 5px 0px 34px;
              }
            }
          }
        }
      }
    }

    .swiper-navigation {
      position: absolute;
      right: 6%;
      bottom: 0;
      width: 90px;
      height: auto;
      display: flex;
      gap: 15px;

      .swiper-button-next,
      .swiper-button-prev {
        position: static;
        width: 36px;
        height: 36px;
        background-color: rgba(66, 66, 69, 0.72);
        border-radius: 100%;
      }

      .swiper-button-next::after,
      .swiper-button-prev::after {
        font-size: 12px;
        font-weight: bold;
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }
}

.typography-area,.typo-box {
  font-size: 21px;
  line-height: 1.4;
  letter-spacing: .011em;

  @include resT {
    font-size: 17px;
  }

  @include resM {
    font-size: 19px;
    line-height: 1.2;
  }

  @include resSM {
    font-size: 17px;
  }

  .typography {
    font-weight: 600;
    color: rgb(134, 134, 139);

    strong {
      color: rgb(245, 245, 247);
    }
  }
}

.viewport-content {
  margin: 0 auto;
  width: 87.5%;
  max-width: 1680px;
}

.headline-typo {
  font-size: 56px;
  line-height: 1.07143;
  font-weight: 600;
  letter-spacing: -0.005em;
  color: $sk-body-text-color;
  transition: font-size .3s;
  padding-bottom: 80px;

  @include resT {
    font-size: 48px;
    padding-bottom: 64px;
  }

  @include resM {
    font-size: 32px;
    padding-bottom: 48px;
  }

  @include resSM {
    font-size: 28px;
  }
}

.headline-filter {
  text-align: center;
  color: #c8c2bd;
  font-size: 80px;
  font-weight: 600;
  line-height: 1.1;
  margin-bottom: 72px;

  @include resT {
    font-size: 64px;
  }

  @include resM {
    font-size: 40px;
  }

  .filter {
    padding: 80px;
    color: #fff;
  }
}

.filter-container {
  display: none;
}

.gradient {
  background: linear-gradient(180deg, rgb(0, 0, 0) 0%, #131313 50%);
}